table{
    width: 100%;
    height: 98vh;
    background-color: #D9D9D9;

}


#linha1{background-color: #410000;

}
#linha2{background-color: #410000;
td{height: 2%;}
font-size: 20px;
}

.tlt {
    font-size: 30px;
    padding-bottom: 30%;
}
.logo { width: 9%;}
.input{ width: 20%; height: 30%;}

.right { text-align: right;}

.input img { vertical-align: middle;}
input{ width: 80%;
    height: 30%;
}
